@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}
.App{
    text-align: center;
    background: url('./Assets/bg.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


.main-header{
    font-family: 'Roboto';
    color: white;
    margin: 100px auto 25px auto ; 
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin: auto;
}

@media only screen and (max-width:1025px) {
    .input-field{
        width: 30%;
    }
}

@media only screen and (max-width:770px) {
    .input-field{
        width: 40%;
    }
}

@media only screen and (max-width:430px) {
    .input-field{
        width: 70%;
    }
}